@mixin button($background) {
    background-color: $background;
    color: white;
}

.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;

    button {
        display: block;
        font: inherit;
        padding: 5px;
        margin: 0 5px;
        width: 80px;
        border: 1px solid #aa6817;
        cursor: pointer;
        outline: none;

        &:disabled {
            background-color: #ac9980;
            border: 1px solid #7e7365;
            color: #ccc;
            cursor: default;
        }

        &:hover:disabled {
            background-color: #ac9980;
            color: #ccc;
            cursor: not-allowed;
        }
    }
    .Less {
        @include button(#d39952);
        &:hover,
        &:active {
            @include button(#daa972);
        }
    }

    .More {
        @include button(#8f5e1e);
        &:hover,
        &:active {
            @include button(#99703f);
        }
    }
}
.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}
